@import "../Common/variables";

.dashboard {
  text-align: left;
}

section {
  padding: 1rem;
  margin: 1rem;
  border: 1px dashed grey;
}



.albums-list,
.track-list {
  display: flex;
  flex-wrap: wrap;
}

.albums-list {
  .album-tile {
    padding: 1rem;
    margin: 1rem;
    flex-basis: 17rem;
  }

  .track-tile {
    padding: 0.2rem;
    margin-top: 0.2rem;
  }
}

.track-list {
  .track-tile {
    flex-basis: 10rem;
    height: 10rem;
    padding: 1rem;
    margin: 1rem;
  }
}

.album-tile,
.track-tile {
  border: 1px solid black;

  .cover {
    pointer-events: none;
  }
}

.track-tile {
  cursor: pointer;

  label, input {
    cursor: pointer;
    pointer-events: none;
  }

  &.focused {
    border-color: $focus;
    outline: 3px solid $focus;
  }

  &.checked {
    background-color: $background;
  }
}

textarea {
  width: 500px;
}
