@import "./Common/variables";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h4, h5 {
  margin: 0 0 0.2rem  0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 1rem;

  a {
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}
.dashboard,
.fill-view,
.playlist-discovery,
.track-list-wrapper,
.album-list-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard {
  a {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}



section {
  padding: 3px;
  margin: 10px;
}

.control-panel {
  margin-bottom: $spacing-l;
  background-color: $tertiary;
  padding: $spacing-m;
  border-radius: 10px;

  .description {
    margin-bottom: $spacing-l;
  }

  .playlist-input {
    display: flex;
    align-items: stretch;
    gap: $spacing-m;
  }

  .scraper-weeks {
    margin-top: $spacing-l;
  }

  input,
  .MuiInputBase-root {
    background: white;
  }
}

.inputs-row {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.album-list,
.track-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.album-list {
  .album-item {
    padding: 1rem;
    flex-basis: 17rem;
  }

  .track-item {
    padding: 0.2rem;
  }
}

$track-size: 12rem;
.cover {
  height: 64px;
}

.track-list {
  .track-item {
    flex-basis: $track-size;
    height: $track-size;
    margin: 0.2rem;
    padding: 1rem;
  }

  .track-tile {
    height: $track-size;
  }
}


.album-tile,
.track-item {
  .cover {
    pointer-events: none;
  }
}

.album-item,
.album-tile {
  flex: 1 1 400px;
  position: relative;
  border-radius: 15px;
  padding: $spacing-m;
  border: 1px solid $tertiary;

  .background-image {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    overflow: hidden;
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(50px);
      opacity: 0.45;
    }
  }

  .heading {
    display: flex;
    gap: $spacing-m;

    .cover {
      height: 100px;
      width: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .track-tile {
    padding: 0.5rem;

  }
}

.track-tile-wrapper {
  display: flex;
  margin-bottom: 3px;
  margin-top: 3px;
  align-items: center;

  .play-controls {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
  }
  .track-tile {
    flex: 1;
  }
}

.track-tile {
  border: 1px solid $secondary;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 3px;

  cursor: pointer;

  label, input {
    cursor: pointer;
    pointer-events: none;
  }

  input {
    display: none;
  }

  &.focused {

    background-color: white;
    mix-blend-mode: overlay;
  }

  &.checked {
    background-color: white;
    mix-blend-mode: overlay;
  }
}

textarea {
  width: 500px;
}

.modal-content {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $locked-background;
  color: $main-font;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
